.ff{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.ff-a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #87101e;
}
.cb{
  background-color: #f7632d;
  width: 82%;
}
