*,*::before,*::after{ 
     margin: 0; 
     padding: 0; 
     box-sizing: border-box; 
 } 
.ff{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.ff-a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #87101e;
}
.cb{
  background-color: #f7632d;
  width: 82%;
}
.thw{
  color:#87101e !important;
  font-weight: bolder !important;
}
@media only screen and (max-width: 320px){

}
@media only screen and (min-width: 384px) and (max-width: 480px){
#fs-15{
   font-size: 10px !important;
 } 
#fs-16{
   font-size: 8px !important;
 }  
.is{
  width: 11px !important;
  height: 11px !important;
  margin-top: 2px;
}
#wm{
  width: 140px !important;
  height: 23px !important;
}
#fs-6{
  font-size: 18px !important;
}
#fs-5{
  font-size: 12px !important;
}
#fs-10 {
  font-size: 13px !important
}
#fs-11 {
  font-size: 13px !important
}
}
@media only screen and (min-width: 576px) {
  
}
@media only screen and (min-width: 768px) {

}

